*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 50%;
  margin: 20px auto;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: "Russo One", Arial;
}

.container {
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.container legend {
  margin-bottom: 15px;
  margin-top: 10px;

  font-weight: 700;
}

.container div {
  margin-bottom: 10px;
}

input[type="radio"] {
  transform: scale(1.5);
  margin-right: 10px;
}

button {
  display: block;
  margin: auto;
  border: none;
  outline: none;
  border: 1px solid black;
  background: #f1f1f1;
  font-size: 24px;
  padding: 30px 40px;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background: lightblue;
}

.info__result {
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

h3 {
  text-align: center;

  font-size: 25px;
}

.echec {
  animation: echec 0.4s ease-in-out forwards;
}

.succeed {
  animation: succeed 0.4s ease-in-out forwards;
}

.aide {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.note {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

@keyframes echec {
  0% {
    transform: translate(1%);
    background: rgb(255, 88, 122);
  }
  20% {
    transform: translate(-1%);
  }
  40% {
    transform: translate(1%);
  }
  60% {
    transform: translate(-1%);
  }
  80% {
    transform: translate(1%);
  }
  100% {
    transform: translate(0%);
    background: rgb(255, 88, 122);
  }
}

@keyframes succeed {
  0% {
    transform: scale(95%);
    background: lightgreen;
  }
  66% {
    transform: scale(105%);
    background: lightgreen;
  }
  100% {
    transform: scale(100%);
    background: lightgreen;
  }
}
